---
import Layout from '../../layouts/Layout.astro';
import AppTitleBar from '../../components/AppTitleBar.astro';
import {Data} from '../../components/page-data/index'
---
<Layout title="Data Editor">
	<div class="page-home">
		<Data client:only="react" />
		<AppTitleBar title="Data Editor">
		</AppTitleBar>
	</div>
</Layout>

