.gradient-knob {
	display: grid;
	position: absolute;
	transform: translate(-50%);
	left: 0%;
	bottom: 0;
	grid-template-rows: 2em 1em;
}

.gradient-knob-grip {
	display: block;
}

.gradient-knob-delete {
	display: block;
}

.gradient-knob-svg {
	display: block;
}

.gradient-color-geom {
	stroke: currentColor;
	stroke-width: 0.5px;
}

.gradient-color-input {
	display: none;
}