@import '../../css/variables.css';

.menu {
	position: fixed;
	top: 0;
	display: block;
	margin: 0;
	height: 100%;
	max-height: 100%;
	box-sizing: border-box;
	width: 30vw;
	min-width: 20em;
	transition: transform 0.5s;
	transform: translateX(-100%);
	background: var(--layer1-color);
	color: var(--layer1-contrast-color);
	padding: 1em;}

.menu.open {
	transform: translateX(0);
	box-shadow: 0 0 60px #0000009c;
}

.menu .close {
	padding: 0 0.3em;
	font-size: 3em;
	color: inherit;
	border: none;
	background: transparent;
	cursor: pointer;
}

.menu .close:hover {
	color: var(--layer1-contrast-hover);
}

.menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5em 0;
	padding: 0.5em 0.8em;
	background: var(--layer2-color);
	cursor: pointer;
	border-radius: 0.5em;
	transition: background-color 0.5s;

	/** When its a menu item with an href */
	text-decoration: none;
	color: inherit;
}

.menu-item:hover {
	background: var(--layer2-hover);
	color: var(--layer2-contrast-hover);
}
