---
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<script>
import '@fontsource-variable/bitter';
</script>
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
@import '../css/variables.css';

body {
	margin: 0;
	font-family: 'Bitter Variable', sans-serif;
	font-weight: 200;
	background: var(--base-color);
	color: var(--base-contrast-color);
}
</style>
