---
interface Props {
	title: string;
	class: string;
}

const { title, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class={className}>
			<slot />
		</div>
	</body>
</html>
<style is:global>
@import '../css/variables.css';

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background: var(--base-color);
	color: var(--base-contrast-color);
}
</style>
