@import '../../css/variables.css';

.share {
	container: share / inline-size;
	text-align: center;
}

.share-label {
	display: inline-block;
	padding: 0.6em 1.2em;
}

.share-links {
	display: inline-block;
}


.share-check {
	display: none;
}

.share-link {
	display: inline-block;
	color: currentColor;
	margin: 0.2em;
	padding: 0.3em 0.6em;
	font-size: 1.4em;
	background: var(--layer1-color);
	border-radius: 0.3em;
	transition: background-color 0.5s;
}

.share-link:hover {
	background: var(--layer1-hover);
}

@container share (width < 360px) {
	.share-label {
		border-radius: 0.3em;
		background: var(--layer1-color);
	}

	.share-links {
		display: none;
	}

	.share-check:checked ~ .share-links {
		display: block;
	}
}
