@import '../../css/variables.css';

.page-container {
	display: grid;
	grid-template-areas: 'queue a a'
		'queue tags tags'
		'queue download-bt download-tt'
		'queue output output';
	grid-template-columns: 15em 1fr auto;
	grid-template-rows: 1fr 1fr auto 1fr;
	gap: 0.6em;
	height: 100vh;
}

.texture-queue {
	grid-area: queue;
	overflow: auto;
}

.textures-left {
	position: sticky;
	top: 0;
	font-weight: bold;
	padding: 0.6em;
	background: var(--layer1-color);
	border-bottom: 1px solid var(--layer2-color);
}

.texture-queue-items {
	margin: 0;
	padding: 0.6em;
}

.tags-editor {
	grid-area: tags;
}

.tags-choices {
	display: grid;
	grid-template-columns: repeat(5, minmax(5em, auto));
	gap: 0.5em;
}

.tags-choice {
	padding: 0.6em 1.2em;
	border-radius: 0.5em;
	background: var(--layer1-color);
	color: var(--layer1-contrast-color);
	border: 2px solid var(--layer2-color);
	cursor: pointer;
	transition: border-color 0.2s;

	&:hover {
		background: var(--layer2-hover);
		color: var(--layer2-contrast-hover);
		border-color: var(--layer2-contrast-hover);
	}

	&:has(:checked) {
		background: var(--layer2-color);
		color: var(--layer2-contrast-color);
		border-color: var(--layer2-contrast-color);
	}

	& [type=checkbox] {
		display: none;
	}
}

.file-output {
	grid-area: output;
}

.download {
	font-weight: bold;

	color: var(--base-contrast-color);
	text-decoration: none;

	svg {
		margin-left: 0.4em;
	}
}

.download-block-textures {
	grid-area: download-bt;
}

.download-texture-tags {
	grid-area: download-tt;
}
