:root {
	--contrast-dark: #090909;
	--contrast-light: #f0f0f0;
}

.page-map {
	margin: 0;
	color: var(--contrast-light);
	background: var(--contrast-dark);
	transition: background 0.5s;
}

.map-content {
	position: relative;
}

.map-overlay {
	position: absolute;
	right: 0;
	top: 0;
}
