---
import NoNavLayout from '../layouts/NoNavLayout.astro';
import AppTitleBar from '../components/AppTitleBar.astro';
import AppTiles from '../components/AppTiles.astro';
---

<NoNavLayout title="Block Game Tools - A selection of tools for Minecraft builders" class="page-home">
	<AppTitleBar title=""></AppTitleBar>
	<div class="home-title">
		<h1>Block Game Tools</h1>
		<p>A selection of tools for Minecraft builders. </p>
		<AppTiles />
	</div>
</NoNavLayout>

<style>
.home-title {
	width: 80vw;
	margin: auto;
}
</style>
