---
import NoNavLayout from '../layouts/NoNavLayout.astro';
import AppTitleBar from '../components/AppTitleBar.astro';
import AppTiles from '../components/AppTiles.astro';
import AppFooter from '../components/AppFooter.astro';
---

<NoNavLayout title="Block Game Tools - A selection of tools for Minecraft builders" class="page-home">
	<div class="home-layout">
		<AppTitleBar>
			<h1 class="home-title">Block Game Tools</h1>
			<p>A selection of tools for Minecraft builders.</p>
		</AppTitleBar>
		<div class="home-content">
			<AppTiles />
		</div>
		<div class="footer">
			<AppFooter />
		</div>
	</div>
</NoNavLayout>

<style>
.home-layout {
	display: grid;
	height: 100vh;
	width: 80vw;
	margin: 0 auto 4em;
	grid-template-rows: auto 1fr auto;
}

.home-title {
	margin-bottom: 0.4em;
}
</style>
