@import '../../../css/variables.css';

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background: var(--base-color);
	color: var(--base-contrast-color);
}

.page-gradient {
	display: grid;
	grid-template-areas:
		"display display"
		"controls share"
		"swatches swatches";
	width: calc(100vw - 40px);
	margin: 60px auto 20px;
	gap: 0.8em;
}

.gradient-display-container {
	grid-area: display;
	position: relative;
	height: 64px;
}

.gradient-display {
	height: 32px;
	border-radius: 0.3em;
}

.gradient-swatches {
	grid-area: swatches;
	width: calc(100vw - 128px);
	margin: auto;
}

.gradient-controls {
	grid-area: controls;
	align-self: center;
	justify-self: center;
}

.gradient-share {
	grid-area: share;
	align-self: center;
	justify-self: center;
}

.gradient-swatch-container {
	display: inline-block;
}