---
import {AppMenu} from './app-menu/index.jsx';
---
<div class="app-title-bar">
	<div class="app-title">
		{ Astro.slots.has('default') ?
			<slot />
			: null
		}
	</div>
	
	<AppMenu client:only="react" />
</div>
<style>
.app-title-bar {
	display: flex;
	gap: 0.5em;
}

.app-title {
	flex: 1 0 auto;
}
</style>