body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
}

.app-title {
	display: inline-block;
	font-weight: bold;
	margin-right: 1em;
}

.selected-block {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	background: linear-gradient(to top, black, transparent);
}

.similar-second {
	display: none;
}

.texture-image {
	height: 64px;
	image-rendering: crisp-edges;
}

.texture-animation {
	background-size: 64px;
	width: 64px;
	height: 64px;
	animation: infinite step-end;
}

.texture-image,
.texture-animation {
	image-rendering: crisp-edges;
	display: inline-block;
}

.info-tooltip {
	pointer-events: none;
	position: absolute;
	color: white;
	background: #48484875;
	transform: translateX(1em);
	padding: 0.4em 0.8em;
	border-radius: 0.4em;
}