:root {
	--background-color: #090909;
	--inverse-color: #f0f0f0;
}

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	color: var(--inverse-color);
	background: var(--background-color);
	transition: background 0.5s;
}

.dialog {
	max-width: 30em;
	max-height: 100vh;
	overflow: auto;
	box-sizing: border-box;
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
}

.app-title {
	display: inline-block;
	font-weight: bold;
	margin-right: 1em;
}

.selected-block {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	background: linear-gradient(to top, var(--background-color), transparent);
	transition: background 0.5s;
}

.similar-second {
	display: none;
}

.info-tooltip {
	pointer-events: none;
	position: absolute;
	color: white;
	background: #48484875;
	transform: translateX(1em);
	padding: 0.4em 0.8em;
	border-radius: 0.4em;
}

@media only screen and (max-width: 600px) {
	.dialog {
		max-width: 100vw;
	}
}
